/* "rgba(255, 0, 51, 0.2)" */
.mailbox {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  line-height: 1.25;
}

.mailboxList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid coral;
}

.mailbox.full {
  background-color: rgba(255, 0, 51, 0.2);
}

.mailboxTitle {
  margin-bottom: 15px;
  margin-top: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
